body,html {
	margin:0;
	height:100%;
	width:100%;
	background-color: rgb(170,211,223);
}

#map {
	height: 100%;
	padding: 0;
	width: 100%;
	/* transition: margin-left .5s; */
	padding: 0;
}

body {
	display: grid;
	grid-template-rows: 80px 1fr;
	grid-template-columns: 250px 1fr;       
	grid-template-areas: 
	"header header"
	"sidebar content";
}

.header {
	grid-area: header;
	padding:20px;
	background-color: #333;
	color: white;
	font-size: 2em;
}

.sidebar {
	color: #555;
	grid-area: sidebar;
	padding:0px;
	background-color: #555;
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 3;
	top: 80px;
	left: 0;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidebar a:hover {
	color: #f1f1f1;
}

.sidebar-item {
    padding: 10px; /* adds inner padding */
    background: gainsboro; 
    border: 1px solid gray; /* border width, style, and color */
    margin: 5px; /* outer padding */
}
  
.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
.openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
  }
  
.openbtn:hover {
	background-color: #444;
  }
  
/* #main {
	transition: margin-left .5s;
	padding: 0;
  } */
  
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
  }


.content {
	grid-area: content;
}



